@import "tailwindcss";

@theme {
  --font-national-park: "National Park", sans-serif;
  --font-leckerlie-one: "Leckerli One", cursive;
  --font-roboto: "Roboto", sans-serif;
}

.text-primary {
  @apply text-rose-400;
}

.text-secondary {
  @apply text-rose-300;
}

.text-tertiary {
  @apply text-gray-400;
}
